
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script  defer  src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="js/dash.js"></script>
    <title>Dashboard</title>
</head>
<body>

    

    
                
                
                    <div class="background-image">
                        <img src="img/bg-desktop-dark.jpg">
                
                    </div>
                
                <div class="H1-Heading">
                    
                    <div class="container">
                        <div class= "header">
                   
                            <div class="title">
                         Thorne Notes.
                            </div>
                        
                        </div>
                                  
                    </div>

                </div>

                <div class="landing-page">
                    <div class="3rd-Div">

                        <div class="sign-up-div">
    
                            <div class="sign-up">
                            
                                <button class="dropdown__button"> Select your University/College  <i class="fa fa-caret-right"></i> </button>  
                                <div class="dropdown__menu hide">
    
                                    <a href="/northlink">Northlink</a>
                    
                                </div>      
                            </div>
    
                            
                        </div>
                    </div>

            
                 
</body>
</html>