<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/test.css">
    <script defer src="js/northlink.js"></script>

    <title>Document</title>
</head>
<body>
                    
    <div class="background-image">
        <img src="img/bg-desktop-dark.jpg">

    </div>

    <div class="title">
        <h1>Thorne Notes. </h1>
    </div>

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Northlink Courses</h2>

        </div>
        <a href="/dashboard">Dashboard</a>


    </div>
   

    <div class="Course">

        <div class="Payment">

            Gain access to the resources available with just a once off R20 payment.

            <div class="Tag">
                
                <h4>Click to pay --> </h4>
                <form action="/purchase" method="POST">
                    <input type="submit" value="R20" >
                  </form>

            </div>

        </div>

        <div class="Row1">
           

            <div class="Programmes">
                <div class="padButton">
                
                    <button class="dropdown__button">Business Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu hide">
                      
                        N4 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Not yet available</li> </a>
                        N5 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Not yet available</li> </a>                
                        N6 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Public Relations</li> </a>
                        
        
                    </div>  
                </div>
        
               
                <div class="padButton">
                    <button class="dropdown__button2">Human Resource N4-N6 <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu2 hide2">
                      
    
                        N4 Curriculum
                        <a href="/PMN4" id="PR-notes" > <li>Personel Management</li> </a>
                        N5 Curriculum
                        <a href="/PMN5" id="PR-notes" > <li>Personel Management</li> </a>
                        N6 Curriculum
                        <a href="/PMN6" id="PR-notes" > <li>Personel Management</li> </a>
                        
        
                    </div> 

                </div>
               
            </div>


        </div>


    </div>

</div>




  

  

</body>
</html>