<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/test.css">
    <script defer src="js/northlink.js"></script>

    <title>Document</title>
</head>
<body>
                    
    <div class="background-image">
        <img src="img/bg-desktop-dark.jpg">

    </div>   

    <div class="title">
        <h1>Thorne Notes.</h1>
    </div>

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>TVET College Courses</h2>

        </div>
    </div>
   

    <div class="Course">

        <div class="Payment">

            Students who are willing to share notes can send their slides to the following email: thornenotes@gmail.com

            <div class="Tag">
                
    
            Notes are gradually uploaded as we are still under construction. <br>

            

        </div>

        <div class="Row1">



            <div class="Programmes">

                <div class="padButton">
                    <button class="dropdown__button">Human Resource N4-N6 <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu hide">
                      
    
                        N4 Curriculum
                        <a href="/PMN4" id="PR-notes" > <li>Personel Management (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Management Communication (pending) </li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending)</li> </a>
                        
                        N5 Curriculum
                        <a href="/PMN5" id="PR-notes" > <li>Personel Management (availabe)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Labour Relations (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending) </li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice (pending)</li> </a>

                        N6 Curriculum
                        <a href="/PMN6" id="PR-notes" > <li>Personel Management (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Labor Relations (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>EBM (pending)</li> </a>


        
                    </div> 

                </div>

                <div class="padButton">                
                    <button class="dropdown__button2">Business Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu2 hide2">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Not yet available</li> </a>
                        N5 Curriculum
                        <a href="/EBMN5" id="PR-notes" ><li>Entrepreneurship (availabe)</li> </a>
                                        
                        N6 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Public Relations (available) </li> </a>
                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button3">Financial Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu3 hide3">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Financial Accounting</li> </a>

                        N5 Curriculum
                        <a href="/EBMN5" id="PR-notes" ><li>Computerised Financial Systems</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Cost & Management Accounting</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Entrepreneurship & Business Management</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Financial Accounting</li> </a>

                                        
                        N6 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Cost & Management Accounting</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Financial Accounting</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Income Tax</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Legal Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button5">Management Assistant N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu5 hide5">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button6">Marketing Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu6 hide6">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button4">Medical Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Public Management4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Entrepreneurship and Business Management</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Finance</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Municipal Administration</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Municipal Administration</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Finance</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Public Law</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Business Studies N4<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Computer Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Accounting</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Marketing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Personnel Management</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Intro Information Processing</li> </a>
                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">National Diploma Tourism N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Hotel Reception</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice N4</li> </a>
                
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Hospitality and Catering Services N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Hotel Reception</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice N4</li> </a>
                
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Clothing Production N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Hotel Reception</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice N4</li> </a>
                
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button4">Educare N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Travel Services</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Hotel Reception</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice N4</li> </a>
                
        
                    </div>  
                </div>


        
               
               
               
            </div>

            <div class="Programmes">

                <div class="padButton">
                    <button class="dropdown__button">Human Resource N4-N6 <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu hide">
                      
    
                        N4 Curriculum
                        <a href="/PMN4" id="PR-notes" > <li>Personel Management (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Management Communication (pending) </li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending)</li> </a>
                        
                        N5 Curriculum
                        <a href="/PMN5" id="PR-notes" > <li>Personel Management (availabe)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Labour Relations (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending) </li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice (pending)</li> </a>

                        N6 Curriculum
                        <a href="/PMN6" id="PR-notes" > <li>Personel Management (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Labor Relations (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Personnel Training (pending)</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>EBM (pending)</li> </a>


        
                    </div> 

                </div>

                <div class="padButton">                
                    <button class="dropdown__button2">Business Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu2 hide2">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Not yet available</li> </a>
                        N5 Curriculum
                        <a href="/EBMN5" id="PR-notes" ><li>Entrepreneurship (availabe)</li> </a>
                                        
                        N6 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Public Relations (available) </li> </a>
                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button3">Financial Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu3 hide3">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Financial Accounting</li> </a>

                        N5 Curriculum
                        <a href="/EBMN5" id="PR-notes" ><li>Computerised Financial Systems</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Cost & Management Accounting</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Entrepreneurship & Business Management</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Financial Accounting</li> </a>

                                        
                        N6 Curriculum
                        <a href="/PR" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Cost & Management Accounting</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Financial Accounting</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Income Tax</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Legal Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button4">Management Assistant N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button4">Marketing Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button4">Medical Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4">
                      
                        N4 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        N5 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="javascript:void(0)" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Communication</li> </a>
                        <a href="javascript:void(0)" id="PR-notes" > <li>Computer Practice</li> </a>

                        
        
                    </div>  
                </div>


               
        
               
               
               
            </div>

            




        </div>


    </div>

</div>




  

  

</body>
</html>