<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/chessCover.css">

    <script defer src="js/northlink.js"></script>
    <script defer src="js/flipcard.js"></script>


    <title>Document</title>
</head>
<body>
    
                    
    <div class="background-image">
        <img src="img/bg-desktop-dark.jpg">

    </div>   

    <div class="title">
        <h1>WATU  KOBESE</h1>
    </div>

    <div class="founder">
        <h5>Founded by Mpendulo.T.T Mahlangu</h5>
            
        </div>




    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>IsiXhosa</h2>

        </div>
    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                   <br><br><br><br>
                                 <h1>.....................Ifolosi.......................</h1>   
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">
                                    <br><br><br><br>
                                    <h1>...................IHashe.......................</h1>   

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br><br><br><br>
                                 <h1>.......UMbayimayi................</h1>   
                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br><br><br><br>
                                 <h1>...................INtlola..................</h1>  


                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br><br><br><br>
                                    <h1>......IKumkanikazi........</h1>  
   
   

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br><br><br><br>
                                    <h1>..............IKumkani............</h1>  
   
                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>IsiZulu</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>




    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Setswana</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   


    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Sesotho</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   



    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Xitsonga</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Tshivenda</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Siswati</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>


    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>Northern Sotho</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>



    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>IsiNdebele</h2>

        </div>
    </div>


    </div>


    <div class="slider-wrap-collection">
            
            

        <div class="slider-wrap">
            <div class="slider">
                <div class="slider-inner">
                    <div class="card">
    
                        <div class="card-face card_face--front">
    

                            <div class="background-image-click">
                              <img src="img/Golden Pawn.jpg" >
                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Knight.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Rook.jpg" >

                            
                            </div>
                              
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Bishop.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">

                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden Queen.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    

                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    

                    <div class="card">
    
                        <div class="card-face card_face--front">
    
                           
                            <div class="background-image-click">
                                <img src="img/Golden King.jpg" >

                            
                            </div>
                           
                            
    
    
                        </div>
    
                        <div class="card-face card_face--back">
    
                            <div class="note-card">
                                <h4 class="text">

                                    <br> <br> 
                                    Kindly email us notes on this subject as we convert them to flash cards for you.

                                </h4>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    
    </div>
   
   
   
   

</div>




  

  

</body>
</html>