<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/test.css">
    <script defer src="js/northlink.js"></script>

    <title>Document</title>
</head>
<body>
                    
    <div class="background-image">
        <img src="img/bg-desktop-dark.jpg">

    </div>   

    <div class="title">
        <h1>Thorne Notes.</h1>
    </div>

    <div class="Course-information">

        <div class="Course-Heading"> 
        

            <h2>TVET College Courses</h2>

        </div>
    </div>
   

    <div class="Course">

        <div class="Payment">

            Students who are willing to share notes can send their slides to the following email: thornenotes@gmail.com

            <div class="Tag">
                
    
            Notes are gradually uploaded as we are still under construction. <br>

            

        </div>

        <div class="Row1">



    <div class="Programmes">

        <div class="padButton">
            <button class="major__dropdown__button">NCV NQF Level 2-4 <i class="fa fa-caret-right"></i> </button>  
            <div class="major__dropdown__menu hide ">

                <div class="padButton">
                    <button class="dropdown__button">Engineering & Related Design<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu hide ">
                      
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Fundamentals L2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Systems L2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Technology L2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fitting and Turning</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Practice and Maintenance L3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Material Technology L3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Graphic and Design L3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fitting and Turning</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Processes L4</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Professional Engineering Practice L4</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Engineering Technology L4</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fitting and Turning</li> </a>


                    </div> 
        
                </div>

                <div class="padButton">
                    <button class="dropdown__button2">Finance, Economics & Accouunting<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu2 hide2 ">
                      
        
                        Level 2
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>

                        Level 3
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>

                        Level 4
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>
                        
        
        
        
                    </div> 
        
                </div>


                <div class="padButton">
                    <button class="dropdown__button3">Hospitality<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu3 hide3 ">
                      
        
                        Level 2 – 4

                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Hospitality Generics</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Client Services and Human Relations</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Food Preparation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Hospitality Services</li> </a>
        
                    </div> 
        
                </div>

                <div class="padButton">
                    <button class="dropdown__button4">Office Administration<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu4 hide4 ">
                      
                        Level 2
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Afrikaans 1ste Addisionele Taal</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Business Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Data Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>New Venture Creation</li> </a>


                        Level 3
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Afrikaans 1ste Addisionele Taal</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Business Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Data Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>New Venture Creation</li> </a>


                        Level 4
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Afrikaans 1ste Addisionele Taal</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Business Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Data Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Personal Assistance</li> </a>

        

        
        
                    </div> 
        
                </div>

                <div class="padButton">
                    <button class="dropdown__button5">Primary Health<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu5 hide5 ">
                      
                        Level 2
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>

                        Level 3
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>

                        Level 4
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>SA Health Care System</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Health</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>The Human Body and Mind</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Community orientated Primary Care</li> </a>
        
                    </div> 
        
                </div>

                <div class="padButton">
                    <button class="dropdown__button6">Safety in Society<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu6 hide6 ">

                        Level 2
                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Introduction to Governance</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Introduction to Law</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Principles of Criminal Justice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Introduction to Policing Practices</li> </a>

                        Level 3

                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/Gov" id="PR-notes" > <li>Governance</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Criminal Law</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Criminal Justice Structures And Mandates</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Theory Of Policing Practices</li> </a>

                       

                        Level 4

                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Governance</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Law of Procedures and Evidence</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Policing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Criminal Justice Process</li> </a>
                      
                      
        
                    </div> 
        
                </div>

                <div class="padButton">
                    <button class="dropdown__button7">Tourism<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu7 hide7 ">

                        <a href="/SubmitNotes" id="PR-notes" > <li>English First Additional Language</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematical Literacy</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Life Orientation</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Governance</li> </a>              
                        <a href="/SubmitNotes" id="PR-notes" > <li>Law of Procedures and Evidence</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Policing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Criminal Justice Process</li> </a>
                      

        
                    </div> 
        
                </div>
            </div> 

        </div>

        <div class="padButton">
            <button class="major__dropdown__button2">N1 – N3 Engineering Studies <i class="fa fa-caret-right"></i> </button>  
            <div class="major__dropdown__menu2 hide2 ">
                <div class="padButton">                
                    <button class="dropdown__button8">Building and Civil Construction<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu8 hide8">
                      
                        N1 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Plumbing Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Bricklaying and Plastering Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Woodworker Theory</li> </a>

                       
                                        
                        N2 Curriculum

                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Plumbing Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Bricklaying and Plastering Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Carpentry and Roofing Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Woodworker Theory</li> </a>

                        N3 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Civil Technology</li> </a>
                        


                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button9">Electrical (Light Current) <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu9 hide9">

                         N1 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electrical Trade Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Radio Theory</li> </a>
                                        
                        N2 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Instrument Trade Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Radio Theory</li> </a>

                        N3 Curriculum

                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Instrument Trade Theory</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Radio Theory</li> </a>
                      
                      
                       
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button10">Electrical (Heavy Current) N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu10 hide10">

                        N1 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electrical Trade Theory</li> </a>
                    
                                        
                        N2 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electrical Trade Theory</li> </a>


                        N3 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Drawings</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electrical Trade Theory</li> </a>


                       
                       
        
                    </div>  
                </div>
        
                
        
        
                <div class="padButton">                
                    <button class="dropdown__button11">Mechanical Fitter and Turner N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu11 hide11">
                      
                        
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Drawing N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fitting and Machining N1 and N2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mechanotechnology N3</li> </a>
                           
                                        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button12">Boilermaking Level 1-4<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu12 hide12">

                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Plating and Structural Steel Drawing N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Metalworkers theory N1</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Platers theory N2 or Welders theory N2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mechanotechnology N3</li> </a>

                      
                       
        
                    </div>  
                </div>

        
                <div class="padButton">                
                    <button class="dropdown__button13">Automotive Motor Mechanics Level 1-2<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu13 hide13">
                      
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial electronics N1-N3</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Motor trade theory N1</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Motor trade theory N2 or Diesel trade theory N2</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Diesel trade theory N3</li> </a>
        
                    </div>  
                </div>
        

            </div> 

        </div>

        <div class="padButton">
            <button class="major__dropdown__button3">N4 – N6 Business Studies <i class="fa fa-caret-right"></i> </button>  
            <div class="major__dropdown__menu3 hide2 ">


                <div class="padButton">                
                    <button class="dropdown__button14">Business Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu14 hide14">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Introduction to Financial Accounting</li> </a>
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/EBMN5" id="PR-notes" ><li>Entrepreneurship (availabe)</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Relations</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Sales Management</li> </a>

                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Personnel Management N4</li> </a>
                        <a href="/PR" id="PR-notes" > <li>Public Relations (available)</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Sales Management</li> </a>
                        
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button15">Financial Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu15 hide15">
                      
                        N4 Curriculum 
                        <a href="/SubmitNotes" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Financial Accounting</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" ><li>Computerised Financial Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" ><li>Cost & Management Accounting</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" ><li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" ><li>Financial Accounting</li> </a>
        
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computerised Financial Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Cost & Management Accounting</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Financial Accounting</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Income Tax</li> </a>
        
                        
        
                    </div>  
                </div>
        

               
                <div class="padButton">
                    <button class="dropdown__button16">Human Resource N4-N6 <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu16 hide16 ">
                      
        
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Personnel Training </li> </a>
                        
                        N5 Curriculum
                        <a href="/PM" id="PR-notes" > <li>Personnel Management </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Labour Relations </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Personnel Training </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice </li> </a>
        
                        N6 Curriculum
                        <a href="/PM6" id="PR-notes" > <li>Personnel Management (available) </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Labor Relations </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Personnel Training </li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
        
        
        
                    </div> 
        
                </div>

                <div class="padButton">                
                    <button class="dropdown__button17">Legal Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu17 hide17">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Legal Practice</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Legal Practice</li> </a>
        
                        
        
                    </div>  
                </div>


                <div class="padButton">                
                    <button class="dropdown__button18">Management Assistant N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu18 hide18">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>

                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Legal Practice N5</li> </a>

                        
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button19">Marketing Management N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu19 hide19">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Marketing Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Management Communication</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Marketing Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship & Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Sales Management</li> </a>
        
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Marketing Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Marketing Research</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Marketing and Sales</li> </a>                        
        
                    </div>  
                </div>
        
        
                <div class="padButton">                
                    <button class="dropdown__button20">Medical Secretary N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu20 hide20">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Medical Practice</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Medical Practice</li> </a>


                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Information Processing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Office Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Medical Practice</li> </a>

                        
                        
        
                    </div>  
                </div>  


                <div class="padButton">                
                    <button class="dropdown__button21">Public Management <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu21 hide21">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Management Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship and Business Management</li> </a>
                        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Finance</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Municipal Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a> 
                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Municipal Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Finance</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Public Law</li> </a>     
        
                    </div>  
                </div>
        
        
        
        
                <div class="padButton">                
                    <button class="dropdown__button22">Business Studies N4<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu22 hide22">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Entrepreneurship</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Accounting</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Marketing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Personnel Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Intro Information Processing</li> </a>
                        
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button23">National Diploma Tourism N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu23 hide23">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Services</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Tourism Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Services</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Tourist Destinations</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Office Procedures</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Travel Services</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Hotel Reception</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice N4</li> </a>
                
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button24">Hospitality and Catering Services N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu24 hide24">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Catering Theory and Practical</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Nutrition and Menu Planning</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Sanitation and Safety</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Catering Theory and Practical</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship and Business Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Food and Beverage</li> </a>
                       
                       
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Applied Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Catering Theory and Practical</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Computer Practice</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication and Human Relations</li> </a>

                
        
                    </div>  
                </div>
        
                <div class="padButton">                
                    <button class="dropdown__button25">Clothing Production N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu25 hide25">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Clothing Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Pattern Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fashion Drawing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Introductory to Computer Practice</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Clothing Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Pattern Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fashion Drawing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship and Business Management</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Clothing Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Pattern Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Fashion Drawing</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship and Business Management </li> </a>
                
                    </div>  
                </div>
        
        
                <div class="padButton">                
                    <button class="dropdown__button26">Educare N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu26 hide26">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Daycare Personnel Development</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Education</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Educare Didactics Theory and Practical</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Child Health</li> </a>
        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Daycare Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Educational Psychology</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Educare Didactics Theory and Practical</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Entrepreneurship and Business Management</li> </a>
                       
                                        
                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Daycare Management</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Daycare Communication</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Educational Psychology</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Educare Didactics Theory and Practical</li> </a>
                        
        
                    </div>  
                </div>
        
              

                


            </div> 

        </div>

        <div class="padButton">
            <button class="major__dropdown__button4">N4 – N6 Engineering Studies <i class="fa fa-caret-right"></i> </button>  
            <div class="major__dropdown__menu4 hide2 ">

                <div class="padButton">
                    <button class="dropdown__button27">Building & Civil Construction N4-N6 <i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu27 hide27">
                      
    
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Surveying</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Quantity Surveying</li> </a>
                        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Surveying</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Quantity Surveying</li> </a>

                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Construction</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building Administration</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Building and Structural Surveying</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Quantity Surveying</li> </a>


        
                    </div> 

                </div>

                <div class="padButton">                
                    <button class="dropdown__button28">Electrical (Light Current) N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu28 hide28">

                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>


                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>

        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button29">Electrical (Heavy Current) N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu29 hide29">
                      
                        N4 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Instruments</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication Electronics</li> </a>

                        
                        N5 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Instruments</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication Electronics</li> </a>

                        N6 Curriculum
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Logic Systems</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Electronics</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Industrial Instruments</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Communication Electronics</li> </a>

                        
        
                    </div>  
                </div>

                <div class="padButton">                
                    <button class="dropdown__button30"> Mechanical: Fitter & Turner N4-N6<i class="fa fa-caret-right"></i> </button>  
                    <div class="dropdown__menu30 hide30">
                    
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mechanical N4-N6</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mathematics N4-N6</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Engineering Science N4</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mechanical Draughting N4</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Mechanotechnics N4-N6</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Power Machines N5 and N6</li> </a>
                        <a href="/SubmitNotes" id="PR-notes" > <li>Strength of Materials and Structures N5 and N6</li> </a>
       
                    </div>  
                </div>
            </div> 

        </div>


       


       
       
       
    </div>



            

            <div class="Programmes">

               
               
        
               
               
               
            </div>

            




        </div>


    </div>

</div>




  

  

</body>
</html>