<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bank.css">
    <script src="js/pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Document</title>
</head>
<body>
    
   <div id="Deposit">

    <section>

   
        <div class="info">
            <h3>Make Deposit Payment</h3>
            <h4>Sign in to your bank, create a recipient and <br> make a deposit using our bank details.</h4>
            <h4>If you made your deposit:
                Please note that banks take at least 2 business days to process deposits (longer over weekends and public holidays) <br>
                When we receive your deposit we will automatically give you acces to the Thorne Notes, you will be notified via email. </h4>
                <button id="download">Download Bank Details</button>
        </div>
        
       
    
        <div class="Bank">
        
    
            <h4>Recipient</h4>
            <h5>Thorne Notes</h5>
        
        
            <h4>Bank</h4>
            <h5>Capitec</h5>
        
            <h4>Account Number</h4>
            <h5>1529643722</h5>
        
            <h4>Branch</h4>
            <h5>470010</h5>
        
            <h4>Reference</h4>
            <h5>(your email address)</h5>
        
            <h4>Amount</h4>
            <h5>R20.00</h5>
            
        </div>
    </section>


   </div> 




</body>
</html>



