<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.paypal.com/sdk/js?client-id=AbuHWVcmOmq3zNYCSX57B79ToRIQSiR5ZSH5dFpaeSHa3qsiFXq5yu9gJXMJFdcdnQKtoM7c3dE-ySuz"></script>
    <script src="js/paypalscript.js" defer></script>
    <link rel="stylesheet" href="css/paypal.css">
    <title>Document</title>
</head>
<body>

    <div>
        <p> Do purchase the package to gain acces to study info
        </p>
        <form action="/pay" method="post">
            <input type="submit" value="Buy">
          </form>

    </div>

    <div class="pay"> 
        <div id="paypal">
        
        </div>


    </div>

    
</body>
</html>