*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}


body {

    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235,24%,19%);
    font-size:18px;
    
    justify-content: center;
    
}

.landingpage


.background-image {

    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 150px; 
    z-index: -1; 
    
}

.background-image img{
     width:100%;
    height:150px;
    
    
}



.container {
    width: 100%;
    margin: 0 30px;
    margin-top: 50px;
    margin-bottom: 0px;
  
  
  }
  
  .header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
  
      color: white;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 2px;
  }


  .sign-up{
      margin-top: 30px;
      justify-items: center;
      min-height: 250px;
      width: 250px;
      background-color: #d3b99f;
      padding: 10px;
  }

 

.Tag{
    display: flex;
}



  .dropdown__button{
    font-family: 'Josefin Sans', sans-serif;
    height: 25px;
    width: 220px;

    font-size: 15px;

    background-color: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }

 .dropdown__menu{
     border: solid 1px grey;
     width: 220px;
     
 } 

  .dropdown__menu a {
      font-weight: bolder;
      display: block;
      padding: 4px 8px;
      font-size: 12px;
      text-decoration: none;
      color: black;
      background-color: #d3b99f;
      border: 1px solid grey;
     
  }

  .dropdown__menu a:hover {
      background: #666;
  }


  .hide{
      display:none;
  }

.Course-information{

align-items: center;
border: 1px solid grey;
margin-top: 23px;
}


.Course-Heading  {
    

    
   
    background-color: #d3b99f;
    

  
  }


.Courses{
    position: relative;
    left: 10px;
    border-radius: 3px;
    border: 2px solid #EEE;

    
    margin-top: 30px;
    
    background-color: #d3b99f;
  }

  .C-body{
      margin-top: 5px;
      margin-left: 20px;
      border: none;
      width: 500px;
  }


.N4{
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.N5{

    margin-bottom: 30px;

}

.N6{
    margin-bottom: 30px;
}

.Row1{
    display: flex;
}













