*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(235,24%,19%);
    font-size:18px;
    
    justify-content: center;
}

.background-image{
    position: absolute;
    height: 25%;
    width: 100%;
    z-index: -1;
}

.background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
object-position: left;
}

.wrapper{
align-items: center;
}

.title {
    font-family: 'Poppins', sans-serif;
  
      color: white;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-left: 10%;
      padding-top: 6%;
  }

  .Courses{
   
    border-radius: 3px;
    border: 2px solid #EEE;  
    background-color: #d3b99f;
    margin-top: 50px;
    font-size:30px;

  }

  .Courses1{
   
    border-radius: 3px;
    border: 2px solid #EEE;  
    background-color: #d3b99f;
    margin-top: 50px;
    font-size:20px;
    width: 350px;

  }

  .button{
      height: 25px;
      width: 55px;
    
  }

  

  
  .Programmes{
    margin-top: 7px;
    justify-items: center;
    min-height: 250px;
    width: 300px;
    background-color: #d3b99f;
    padding: 10px;
}



.Tag{
  display: flex;
}

.padButton{
  padding: 7px;
}

.dropdown__button, .dropdown__button2,  .dropdown__button3, .dropdown__button4 , .dropdown__button5,  .dropdown__button6, .dropdown__button7,
.dropdown__button8,  .dropdown__button9,  .dropdown__button10,  .dropdown__button11,  .dropdown__button12,  .dropdown__button13,  .dropdown__button14,
.dropdown__button15, .dropdown__button16, .dropdown__button17, .dropdown__button18, .dropdown__button19, .dropdown__button20, .dropdown__button21,
.dropdown__button22, .dropdown__button23, .dropdown__button24, .dropdown__button25, .dropdown__button26, .dropdown__button27, .dropdown__button28, .dropdown__button29, .dropdown__button30, .dropdown__button31{
  font-family: 'Josefin Sans', sans-serif;
  height: 25px;
  width: 245px;

  font-size: 15px;

  background-color: gray;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  

}


.major__dropdown__button, .major__dropdown__button2,  .major__dropdown__button3,  .major__dropdown__button4{

  font-family: 'Josefin Sans', sans-serif;
  height: 25px;
  width: 260px;

  font-size: 15px;

  background-color: green;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.dropdown__menu, .dropdown__menu2, .dropdown__menu3, .dropdown__menu4, .dropdown__menu5, .dropdown__menu6, .dropdown__menu7,  .dropdown__menu8,  .dropdown__menu9,  .dropdown__menu10,
.dropdown__menu11,  .dropdown__menu12,  .dropdown__menu13,  .dropdown__menu14,   .dropdown__menu15,   .dropdown__menu16,   .dropdown__menu17,   .dropdown__menu18, .dropdown__menu19, 
.dropdown__menu20, .dropdown__menu21, .dropdown__menu22, .dropdown__menu23, .dropdown__menu24,  .dropdown__menu25,  .dropdown__menu26 , .dropdown__menu27, .dropdown__menu28,
.dropdown__menu29, .dropdown__menu30, .dropdown__menu31 {
   border: solid 1px grey;
   width: 240px;
   
} 

.major__dropdown__menu, .major__dropdown__menu2,  .major__dropdown__menu3 ,  .major__dropdown__menu4, .major__dropdown__menu5  {
  
  border: solid 1px grey;
   width: 260px;

} 



.dropdown__menu a, .dropdown__menu2 a, .dropdown__menu3 a,  .dropdown__menu4 a,   .dropdown__menu5 a,   .dropdown__menu6 a,   .dropdown__menu7 a,
.dropdown__menu8 a, .dropdown__menu9 a, .dropdown__menu10 a, .dropdown__menu11 a, .dropdown__menu12 a, .dropdown__menu13 a,  .dropdown__menu14 a ,
.dropdown__menu15 a, .dropdown__menu16 a, .dropdown__menu17 a, .dropdown__menu18 a, .dropdown__menu19 a , .dropdown__menu20 a, .dropdown__menu21 a ,
.dropdown__menu22 a, .dropdown__menu23 a, .dropdown__menu24 a, .dropdown__menu25 a , .dropdown__menu26 a, .dropdown__menu27 a , 
.dropdown__menu28 a, .dropdown__menu29 a, .dropdown__menu30 a ,  .dropdown__menu31 a   {
    font-weight: bolder;
    display: block;
    padding: 4px 8px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    background-color: #d3b99f;
    border: 1px solid grey;
   
}

.dropdown__menu a:hover {
    background: #666;
}

.dropdown__menu2 a:hover {
  background: #666;
}

.dropdown__menu3 a:hover {
  background: #666;
}

.dropdown__menu4 a:hover {
  background: #666;
}

.dropdown__menu5 a:hover {
  background: #666;
}

.dropdown__menu6 a:hover {
  background: #666;
}

.dropdown__menu7 a:hover {
  background: #666;
}

.dropdown__menu8 a:hover {
  background: #666;
}

.dropdown__menu9 a:hover {
  background: #666;
}

.dropdown__menu10 a:hover {
  background: #666;
}

.dropdown__menu11 a:hover {
  background: #666;
}

.dropdown__menu12 a:hover {
  background: #666;
}

.dropdown__menu13 a:hover {
  background: #666;
}

.dropdown__menu14 a:hover {
  background: #666;
}

.dropdown__menu15 a:hover {
  background: #666;
}

.dropdown__menu16 a:hover {
  background: #666;
}

.dropdown__menu17 a:hover {
  background: #666;
}

.dropdown__menu18 a:hover {
  background: #666;
}

.dropdown__menu19 a:hover {
  background: #666;
}

.dropdown__menu20 a:hover {
  background: #666;
}

.dropdown__menu21 a:hover {
  background: #666;
}

.dropdown__menu22 a:hover {
  background: #666;
}

.dropdown__menu23 a:hover {
  background: #666;
}

.dropdown__menu24 a:hover {
  background: #666;
}

.dropdown__menu25 a:hover {
  background: #666;
}

.dropdown__menu26 a:hover {
  background: #666;
}

.dropdown__menu27 a:hover {
  background: #666;
}

.dropdown__menu28 a:hover {
  background: #666;
}

.dropdown__menu29 a:hover {
  background: #666;
}

.dropdown__menu30 a:hover {
  background: #666;
}

.dropdown__menu31 a:hover {
  background: #666;
}





.hide, .hide2, .hide3, .hide4, .hide5, .hide6, .hide7, .hide8, .hide9, .hide10,
.hide11, .hide12, .hide13, .hide14, .hide15, .hide16, .hide17, .hide18,  .hide19,  .hide20,  .hide21, .hide22, .hide23, .hide24,
.hide25, .hide26,  .hide27, .hide28,  .hide29,  .hide30,  .hide31  {
    display:none;
}

.hiding, .hiding2 {
  display:none;

}


.Course-information{

align-items: center;
border: 1px solid grey;
margin-top: 23px;
}


.Course-Heading  {
  

  
 
  background-color: #d3b99f;
  


}


.Course{
  position: relative;
  top: -20px;
  left: 10px;
  border-radius: 3px;
  border: 2px solid #EEE;
  width: 100%;

  
  margin-top: 30px;
  
  background-color: #d3b99f;
}

.C-body{
    margin-top: 5px;
    margin-left: 20px;
    border: none;
    width: 500px;
}


.N4{
  margin-top: 20px;
  margin-bottom: 30px;
  
}

.N5{

  margin-bottom: 30px;

}

.N6{
  margin-bottom: 30px;
}

.Row1{
  display: flex;
}


        
    